# macOS system files
.DS_Store

# Python bytecode and cache
__pycache__/
*.py[cod]

# IDE/editor folders
.vscode/
.idea/

# Virtual environments
env/
venv/
.venv/

# Logs
*.log

# Streamlit config
.streamlit/

# Output files
*.mp3
*.wav
*.webm
*.part
*.zip

# Containers & remote development
.devcontainer/

# Ignore CSVs only in root
/*.csv